*,::after,::before{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'roboto',sans-serif;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}
.nav-link:hover{
  color:white;
}
#name{
  color:white;
  border: 2px solid yellow;
  padding:3px 10px;
  font-weight: bold;
}
li{
  padding-right:10px ;
}
.nav{
  top:0;
  position: sticky;
}
/* per carousel */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #000000;
}
.nav-link{
  color:black;
}
.nav-link:hover{
  color:black;
}